{% include header.html %}

<header class="site-header">
    <h1 class="site-title">{{ site.name }}</h1>
    <h2 class="site-tagline">Weekly updates about how we're enabling Samaritans to be there for everyone</h2>
    <nav class="nav-menu">
        <ul>
            <li><a href="/about">What we do</a></li>
            <li><a href="https://github.com/samaritans-digital">Github</a></li>
        </ul>
    </nav>
</header>

<ul class="posts-list">
  {% for post in site.posts %}
    <li class="post-item">
      <span class="post-item-date">{{ post.date | date_to_string }}</span>
      <h2 class="post-item-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="post-item-excerpt">{{ post.excerpt | strip_html }}</p>
    </li>
  {% endfor %}
</ul>

{% include footer.html %}